<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!--Add link to the create apartment page-->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Apartments", apartments_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Residents", residents_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Rent Sessions", rent_sessions_path, class: "nav-link" %>
        </li>
      </ul>
      <span class="d-flex">
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary" %>
      </span>
    </div>

  </div>
</nav>
