<div>
  <!--Add link to the create apartment page-->
  <ul class="p-3">
    <li class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
      <%= link_to "Apartments", apartments_path %>
    </li>

    <li class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
      <%= link_to "Residents", residents_path %>
    </li>
    <li class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
      <%= link_to "Rent Sessions", rent_sessions_path %>
    </li>
  </ul>

</div>
