<h1>Editing rent session</h1>

<%= render "form", rent_session: @rent_session %>

<br>

<div>
  <%= link_to "Show this rent session", @rent_session %> |
  <%= link_to "Back to rent sessions", rent_sessions_path %>
</div>
