<p style="color: green"><%= notice %></p>

<h1>Rent sessions</h1>

<div id="rent_sessions">
  <%= render "rent_session_table", rent_sessions: @rent_sessions %>

</div>

<%= link_to "New rent session",
new_rent_session_path,
class: "btn btn-outline-primary" %>
