<p style="color: green"><%= notice %></p>

<h1>Rent sessions</h1>

<div id="rent_sessions">
  <% @rent_sessions.each do |rent_session| %>
    <%= render rent_session %>
    <p>
      <%= link_to "Show this rent session", rent_session %>
    </p>
  <% end %>
</div>

<%= link_to "New rent session", new_rent_session_path %>
