<div id="<%= dom_id block %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= block.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apartment:</strong>
    <%= block.apartment_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= block.user_id %>
  </p>

</div>
