<div class=" h-[80vh] w-full grid place-items-center">
  <div class='min-w-[30vw]'>
    <h1 class="font-bold text-4xl text-center">New block</h1>
    <%= render "form", block: @block %>
  </div>
</div>
