<div id="<%= dom_id resident %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= resident.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Physicalid:</strong>
    <%= resident.physicalId %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phonenumber:</strong>
    <%= resident.phonenumber %>
  </p>

</div>
