<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New resident</h1>
  <%= render "form", resident: @resident %>
  <%= link_to "Back to residents", residents_path, class: "btn btn-outline-secondary" %>
</div>
