<% if payments.any? %>
  <table id="payments" class="min-w-full table table-auto min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <%['Resident', 'Payment date', 'Amount', 'Actions'].each do |name|%>
          <th 
          scope="col"
          class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0"
        ><%= name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <%= render partial: 'payment', collection: payments %>
    </tbody>
  </table>
<% end %>
