<div id="<%= dom_id payment %>">
  <p>
    <strong>Rent session:</strong>
    <%= payment.rent_session_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

</div>
