<h1>Editing payment</h1>
<%= render "form", payment: @payment, rent_session: @rent_session %>
<br>
<div>
  <%= link_to "Show this payment", [@rent_session,@payment] %>
  <%= link_to "Back to payments", rent_session_payments_path %>
</div>
