<div class='d-flex justify-content-center'>
  <div class='w-25'>
    <h1 class='h3 fw-bold'>Editing payment for <%=@resident.name%></h1>
    <%= render "payments/form", payment: @payment, resident: @resident, rent_session: @rent_session %>
    <br>
  </div>
</div>
