<div class='d-flex justify-content-center'>
  <div class='w-25'>
    <% if @resident.nil? %>
      <h1 class='h3 fw-bold'>New payment</h1>
    <% else %>
      <h1 class='h3 fw-bold'>New payment for <%=@resident.name%></h1>
    <% end %>
    <%= render "payments/form", payment: @payment, resident: @resident, rent_session: @rent_session %>
    <br>
  </div>
</div>
