<p style="color: green"><%= notice %></p>
<%= render 'payment_table', rent_session:@rent_session,payments:[@payment], resident: @resident %>
<div>
  <div class='d-flex gap-2 py-2'>
    <%= link_to "Payments",resident_payments_path(@resident), class: "btn btn-outline-secondary" %>
  </div>
</div>
