<div id="<%= dom_id expenditure %>" class="d-flex flex-row ">
    <% td_class = "py-2 px-3 text-truncate" %>
    <%[
      expenditure.name,
      expenditure.date.strftime("%B %d, %Y"),
      format_currency(expenditure.amount),
      expenditure.category,
      expenditure.reference,
      expenditure.description,
    ].each do |value|%>
        <td class="<%= td_class %>" style="max-width: 200px;">
            <%= value %>
        </td>
    <% end %>
</div>