<div id="<%= dom_id expenditure, class:'flex flex-row inline' %>">
    <% td_class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0" %>
    <%[
      expenditure.name,
      expenditure.date.strftime("%B %d, %Y"),
      format_currency(expenditure.amount),
      expenditure.category,
      expenditure.reference,
      expenditure.description,
    ].each do |value|%>
        <td class="<%=td_class%>">
            <%= value %>
        </td>
    <% end %>
</div>