<div>
  <p style="color: green"><%= notice %></p>

  <h1 class="font-bold">Expenditures</h1>

  <div class='d-flex justify-content-end'>
    <%= link_to "New expenditure", new_expenditure_path, class: "btn btn-outline-primary" %>
  </div>

  <div id="expenditures">
    <%= render 'expenditure_table', expenditures: @expenditures %>
  </div>
</div>

