<div id="<%= dom_id apartment, class:'flex flex-row inline' %>">
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= format_currency apartment.price %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= apartment.floor %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= apartment.name %>
  </td>
</div>
