<div class="w-full p-3">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>
  <% content_for :title, "Apartments" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Apartments</h1>
    <div>
      <%= link_to "Back to Home", home_index_path, class: "btn btn-outline-secondary" %>
      <%= link_to "New apartment", new_apartment_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <%= render "apartment_table", apartments: @apartments, show: true %>
</div>
