<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--Add link to the create apartment page-->
        <div class=" navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% 
                links = [
                    { name: "Blocks", path: blocks_path },
                    { name: "Apartments", path: apartments_path },
                    { name: "Residents", path: residents_path },
                    { name: "Expenditures", path: expenditures_path }
                ]
                %>
                <% links.each do |link| %>
                <li class="nav-item">
                    <%= link_to link[:name], link[:path], 
              class: "nav-link #{current_page?(link[:path]) ? ' bg-dark text-white rounded' : ''}" %>
                </li>
                <% end %>
            </ul>
            <!--Show the name of the user if signed in-->
            <span class="d-flex gap-2">
                <% if user_signed_in? %>
                <span class="navbar-text">
                    <%= current_user.email %>
                </span>
                <span class="d-flex">
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
                </span>
                <% else %>
                <span class="d-flex">
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary" %>
                </span>
                <% end %>
            </span>
        </div>
    </div>
</nav>